.~*
.idea

__pycache__
*.pyc
*.out
*.egg-info

runs
cached_*
checkpoint-*
lightning_logs
*-usage.txt

/log
/cache
/pretrained
/predict/**/*.tsv

vocab.txt
pytorch_model.*
pytorch_model-*
*_model_states.pt
*_optim_states.pt
training_args.bin
emissions.csv

eval_results.json
train_results.json
predict_results.json
*_predictions.json
*_nbest_predictions.json
